@import'../../fundation/variable.scss';

.contact{
    background-color: $contact_color;
    height: 1000px;

    .form{
        background-color: $main_color;
        width:62%;
        height:70%;
        margin:0 auto;
        padding:20px 0 0 0;
        

        .item{
            font-size:20px;

            .label{
                margin:5% 0 0 15%;
                width:20%;
            }

            .inputs{
                margin:1% 0 1% 17%;
                height:30px;
                width:70%;
                background-color: $contact_text_color;
                font-size:20px;
            }

            span{
                font-size:8px;
            }

            .massage{
                height:200px;
            }
            
            
            
        }
        .form-massage{
            display: block;
            width:70%; 
            margin:auto;

            .dis{
                font-size:8px;
                text-align: left;
            }
        }
    }
}