$main_color:#EFF7F1;
$font_color:#506D80;
$shop_color:#BBDBD4;
$shop-list_color:#EFF7F1;
$deliverly_color: #EFF7F1;
$border_color:#707070;
$contact_color:#BBDBD4;
$contact_text_color:#F9F9DD;
$contact_btn_color:#AFAFAC;
$menu_hover:#1CB9B9;
