$main_color:#F4F2DB;
$font_color:#506D80;
$shop_color:#BBDBD4;
$shop-list_color:#EFF7F1;
$deliverly_color: #E9EFEF;
$border_color:#707070;
$contact_color:#DBE5C0;
$contact_text_color:#F9F9DD;
$contact_btn_color:#AFAFAC;