@import'../../fundation/variable.scss';

.btn-area{
    display: block;
    height:50px;
    width:65%;
    margin:20px auto;
    background-color:$contact_btn_color;
    font-size:18px;
    color:$main_color;
    border-radius: 10px;
}

.btn-area:hover{
    transition-property: all;
    transition: 0.2s linear;
    background-color: $font_color;
}